.wrapper {
flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(
    135deg,
    #89f7fe 0%,
    #66a6ff 25%,
    #667eea 40%,
    #9d66ea 60%,
    #db66ea 85%,
    #ea66df 100%
  );

  :global(html.dark) & {
    background: linear-gradient(
      135deg,
      #041C32 0%,
      #142850 20%,
      #143450 40%,
      #144050 60%,
      #144f50 80%,
      #145047 90%,
      #14503b 100%
    );
  }
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 30px 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background 0.3s ease, box-shadow 0.3s ease;

  :global(html.dark) & {
    background: #7882ad;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  }

  span {
    font-size: xx-large;
    margin-bottom: 30px;
    color: #333;

    :global(html.dark) & {
      color: #eee;
    }
  }
  h1 {
    font-size:larger;
    margin-bottom: 30px;
    color: #333;

    :global(html.dark) & {
      color: #eee;
    }
  }
}

