.wrapper {
flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(
    135deg,
    #89f7fe 0%,
    #66a6ff 25%,
    #667eea 40%,
    #9d66ea 60%,
    #db66ea 85%,
    #ea66df 100%
  );

  :global(html.dark) & {
    background: linear-gradient(
      135deg,
      #041C32 0%,
      #142850 20%,
      #143450 40%,
      #144050 60%,
      #144f50 80%,
      #145047 90%,
      #14503b 100%
    );
  }
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 30px 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background 0.3s ease, box-shadow 0.3s ease;

  :global(html.dark) & {
    background: #7882ad;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  }

  span {
    font-size: xx-large;
    margin-bottom: 30px;
    color: #333;

    :global(html.dark) & {
      color: #eee;
    }
  }
  h1 {
    font-size:larger;
    margin-bottom: 30px;
    color: #333;

    :global(html.dark) & {
      color: #eee;
    }
  }
}

.authButton {
  position: relative;
  border: none;
  background: linear-gradient(50deg, #5095f5 0%, rgb(245, 54, 172) 100%);
  color: #fff;
  padding: 10px 25px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  
  :global(html.dark) & {
    background: linear-gradient(50deg, rgb(15, 89, 25) 0%,rgb(12, 68, 66) 25%, rgb(13, 43, 68) 75%, rgb(13, 16, 68) 100%);
  }
  
  &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
  }

  &:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
                -4px -4px 6px 0 rgba(116, 125, 136, 0.2), 
                inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  }

  &::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 2s ease-in-out infinite;
    transform: rotate(45deg);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes shiny-btn1 {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
