.lightBtn,
.darkBtn {
  padding: 9px;
  border-radius: 999px;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  margin-bottom: 25px;
}

.lightBtn {
  background-color: #ffffff;
  color: #e0e0e0;

  &:hover {
    background-color: #a0a1a3 !important;
  }
  &.active {
    background-color: #fbaae7;
    color: white;
    box-shadow: 0 0 10px #000000;
  }
}

.darkBtn {
  background-color: #7882ad;
  color: #1f1f1f;

  &:hover {
    background-color: #e1e1e3 !important;
  }
  &.active {
    background-color: #4455aa;
    color: white;
    box-shadow: 0 0 15px #4455aa;
  }
}
